.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.restrito {
    .flex-item {
        img {
            max-width: 70px;
            min-width: 30px;
        }

        background-color: orange;
    }
}
.livre {
    .flex-item {
        max-width: 140px;
        background-color: orange;
    }
}
.flex-item {
    flex: 1 1;
    flex-wrap: wrap;
    width: 4em;
    min-width: 3em;
    max-width: 3em;

    img {
        width: 100%;
        min-width: 30px;
    }

    :hover {
        transform: translateY(-7px);
    }
}
