<br/><br/>
<div class="titulo">
    <div>
        <img src="../../../assets/img/rocket.png">
    </div>
    <div class="texto">Desafio das Metas</div>
    <br style="clear: both;"/>
</div><br/>
<!-- <div class="palco">
    <div class="metas-disponiveis">
        <div class="tit">Metas Disponíveis</div>
        <app-metas></app-metas>
    </div><br/>
    <div class="metas-disponiveis">
        <div class="tit">Pontuação</div>
        <app-pontuacao tamanho="restrito"></app-pontuacao>
    </div>
    <br style="clear: both;"/>
</div> -->

<div class="container">
    <section class="box">
        <div class="titulo">Metas Disponíveis</div>
        <app-metas-liberadas></app-metas-liberadas>
    </section><br/>
    <section class="box">
        <div class="titulo">Pontuação Atual</div>
        <app-pontuacao></app-pontuacao>
    </section>
    <br/><br/><br/>
</div>
