@import '~material-design-icons/iconfont/material-icons.css';

html {
    background-image: url('./assets/img/fundo.jpg');
}

.material-icons {
    width: 1em;
    display: inline-flex;
    vertical-align: top;
}
